body.light {
  --color-background: rgba(250, 235, 215, 1);
  --color-text: black;
  --gradient-color-1: rgb(233, 139, 192);
  --gradient-color-2: rgb(233, 139, 192);
  --gradient-color-3: #b0cf97;
  --primary-color: rgb(223, 135, 196);
  --secondary-color: #d4689e;
  --color-muted: black;
  --color-blur: rgba(219, 29, 175, 0.048);
}

body.dark {
  --color-background: #2f2d2e;
  --color-text: rgb(228, 212, 212);
  --gradient-color-1: #0d324d;
  --gradient-color-2: #0d324d;
  --gradient-color-3: #792359;
  --primary-color: #d34ea2;
  --secondary-color: #cd4b97;
  --color-muted: rgb(155, 150, 150);
  --color-blur: rgba(185, 190, 193, 0.08);
}

body {
  margin: 0;
  transition: background-color 1s ease, color 1s ease;
  padding-top: 80px;
  background: radial-gradient(
      circle at -10% 0%,
      var(--gradient-color-1),
      transparent 50%
    ),
    radial-gradient(
      circle at 130% 50%,
      var(--gradient-color-2),
      transparent 60%
    ),
    radial-gradient(
      circle at -100% 100%,
      var(--gradient-color-3),
      transparent 100%
    );
  background-color: var(--color-background);
  color: var(--color-text);
}

h1 {
  text-align: center;
  font-family: "Bagel Fat One";
  font-weight: 1;
  padding-top: 70px;
  font-size: 35px;
}

#toggleMode {
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

footer {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  font-size: 14px;
  color: var(--color-muted);
}
