.party-page{
   font-family: "Funnel Display", sans-serif ; 
   display: flex;
   flex-direction: column;
   gap: 20px;
    align-items: center;
}

.title-section{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.project-title{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 10px;
}

.project-title-icon{
    color: var(--accent-color);
}

.description{
    text-align: center;
    margin: 0;
}

.project-page-card{
    padding: 20px;
    margin: 0;
    gap: 0;
}

.project-page-box{
    background-color: var(--color-blur);
    border-radius: var(--border-radius);
}

.project-card-title{
    align-self: flex-start;
    align-items: center;
    display: flex;
    gap: 10px;
}

.project-card-title-icon{
    color: var(--accent-color);
}

.project-image-section{
    display: flex;
    justify-content: space-evenly;
}

.project-image-item{
    width: 40%;
    border-radius: var(--border-radius);
    align-self: center;
}

.feature-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: flex-start;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.feature-item{
    border-radius: var(--border-radius);
    background-color: var(--color-blur);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.feature-icon{
    color: var(--accent-color);
    font-size: 3rem;
}

.feature-item-text{
    font-size: 0.8rem;
}
