.project-page {
    font-family: "Funnel Display", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    transition: ease-in 1s;

    .project-navigation {
        .navigate-title {
            align-self: center;
            margin: 0;
        }

        background-color: var(--color-blur);
        padding: 20px;
        border-radius: 10px;
        width: 80%;

        nav {
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-size: var(--text-size-medium-small);

            a {
                background-color: var(--color-blur);
                padding: 10px 20px;
                border-radius: 10px;
                text-decoration: none;
                color: var(--text-color);
                display: flex;
                justify-content: space-between;

                :hover {
                    transform: scale(2);
                }
            }
        }
    }

    .title-section {
        align-items: center;
        display: flex;
        flex-direction: column;

        .project-title {
            display: flex;
            gap: 5px;
            align-items: center;
            font-size: var(--text-size-large);
            margin-bottom: 10px;

            .project-title-icon {
                color: var(--accent-color);
            }
        }

        .description {
            text-align: center;
        }
    }

    .project-page-card {
        padding: 20px;
        margin: 0;
        gap: 5px;
        display: flex;
        flex-direction: column;

        &.project-page-box {
            background-color: var(--color-blur);
            border-radius: var(--border-radius);
        }

        .project-card-title {
            align-self: flex-start;
            align-items: center;
            display: flex;
            gap: 10px;

            .project-card-title-icon {
                color: var(--accent-color);
            }
        }


        .card-description {
            background-color: var(--color-blur);
            padding: 20px;
            border-radius: var(--border-radius);
        }

        .feature-list {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-self: flex-start;
            list-style: none;
            width: 100%;
            padding: 0;
            margin: 0;

            .feature-item {
                border-radius: var(--border-radius);
                background-color: var(--color-blur);
                padding: 10px 20px;
                display: flex;
                align-items: center;
                gap: 20px;

                .feature-icon {
                    color: var(--accent-color);
                    font-size: var(--icon-size-large);
                    flex-shrink: 0.5;
                }
            }
        }
    }

    .project-image-section {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .project-image-text-section {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;

        .card-description {
            height: 50%;
            align-self: center;
        }
    }
}

.project-image-item {
    width: 70%;
    border-radius: var(--border-radius);

    &.double {
        align-self: center;
        width: 45%;
    }
}

.work-project-card {
    position: relative;
}

.back-to-top {
    position: absolute;
    left: -50px;
    top: 110px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    border-radius: 50%;

    background: var(--color-blur);

    font-size: 24px;
    text-decoration: none;

    transition:
        transform 0.2s ease,
        background-color 0.2s ease;
}

.back-to-top:hover {
    transform: translateY(-4px);
}

@media (width >=1000px) {
    .project-page {
        .project-page-card {
            .feature-list {
                .feature-item {
                    .feature-icon {
                        font-size: var(--icon-size-large);
                    }
                }
            }

            .project-image-item {
                width: 50%;
                border-radius: var(--border-radius);

                &.double {
                    align-self: center;
                    width: 45%;
                }
            }

            .project-image-text-section {
                display: flex;
                gap: 10px;
                flex-wrap: nowrap;

                .card-description {
                    height: 50%;
                    align-self: center;
                }
            }
        }
    }
}