.project-page {
    font-family: "Funnel Display", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    .title-section {
        align-items: center;
        display: flex;
        flex-direction: column;

        .project-title {
            display: flex;
            gap: 5px;
            align-items: center;
            font-size: var(--text-size-large);
            margin-bottom: 10px;

            .project-title-icon {
                color: var(--accent-color);
            }
        }

        .description {
            text-align: center;
        }
    }

    .project-page-card {
        padding: 20px;
        margin: 0;
        gap: 5px;
        display: flex;
        flex-direction: column;

        &.project-page-box {
            background-color: var(--color-blur);
            border-radius: var(--border-radius);
        }

        .project-card-title {
            align-self: flex-start;
            align-items: center;
            display: flex;
            gap: 10px;

            .project-card-title-icon {
                color: var(--accent-color);
            }
        }


        .card-description {
            background-color: var(--color-blur);
            padding: 20px;
            border-radius: var(--border-radius);
        }

        .feature-list {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-self: flex-start;
            list-style: none;
            width: 100%;
            padding: 0;
            margin: 0;

            .feature-item {
                border-radius: var(--border-radius);
                background-color: var(--color-blur);
                padding: 10px 20px;
                display: flex;
                align-items: center;
                gap: 20px;

                .feature-icon {
                    color: var(--accent-color);
                    font-size: var(--icon-size-large);
                }
            }
        }
    }

    .project-image-section {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .project-image-text-section {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;

        .card-description {
            height: 50%;
            align-self: center;
        }
    }
}

.project-image-item {
    width: 70%;
    border-radius: var(--border-radius);

    &.double {
        align-self: center;
        width: 40%;
    }
}

@media (width >=1000px) {
    .project-page {
        .project-page-card {
            .feature-list {
                .feature-item {
                    .feature-icon {
                        font-size: var(--icon-size-large);
                    }
                }
            }

            .project-image-item {
                width: 50%;
                border-radius: var(--border-radius);

                &.double {
                    align-self: center;
                    width: 45%;
                }
            }

            .project-image-text-section {
                display: flex;
                gap: 10px;
                flex-wrap: nowrap;

                .card-description {
                    height: 50%;
                    align-self: center;
                }
            }
        }
    }
}