header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  z-index: 1000;
  transition: top 0.15s ease-in-out;
  backdrop-filter: blur(5px);
}

.name-header {
  font-family: "Bagel Fat One";
  font-size: xx-large;
  text-decoration: none;
  color: var(--color-text);
  transition: transform 1s ease;
}

.icon {
  border: none;
  box-shadow: none;
  cursor: pointer;
  background-color: transparent;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.2);
}

#toggleMode {
  font-size: var(--icon-size-large);
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}
