.project-content {
  margin: 0 auto;
  padding: 20px;

  .project-back {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;

    .project-back-link {
      text-decoration: none;
      color: var(--color-text);
      font-weight: bold;
      font-family: "Funnel Display", sans-serif;
      display: flex;
      align-items: center;
      gap: 5px;
      transition: 0.1s ease-in;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}