.project-section p {
  text-align: center;
  color: var(--color-muted);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.project-card {
  background-color: var(--color-card);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Funnel Display", Arial, Helvetica, sans-serif;
  gap: 15px;
}

.project-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.project-text-section {
  text-align: center;
  margin-bottom: 15px;
}

.project-card h2 {
  margin: 0;
  font-size: 1.5em;
  text-decoration: underline;
}

button{
  border: 1px solid var(--primary-color);
  background-color: var(--color-blur);
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
  align-items: center;
  display: flex;
  gap: 5px;
  font-weight: bold;
}

@media (width >= 700px) {
 .card-container{
  max-width: 700px;
  margin: 0 auto;
  justify-content: space-evenly;
 }

 .project-card {
  height: 100%;
  width: 100%;
 }
}