.project-section {
  padding: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.project-card {
  background-color: var(--color-card);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 30px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Funnel Display", Arial, Helvetica, sans-serif;
  gap: 15px;
}

.project-card img {
  width: 100%;
  border-radius: 8px;
}

.project-text-section {
  text-align: center;
  font-size: 1rem;
}

.project-section p {
  text-align: left;
  color: var(--color-text);
}

.project-card h2 {
  margin: 0;
}

.button {
  border: 1px solid var(--color-text);
  background-color: var(--color-blur);
  color: var(--color-text);
  padding: 10px 10px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 0.7rem;
  align-items: center;
  display: flex;
  gap: 5px;
  font-weight: bold;
}

.button:hover {
  border-color: var(--primary-color);
}

.tag-section {
  display: flex;
  gap: 10px;
}

.tag {
  background-color: var(--color-blur);
  color: var(--color-text);
  padding: 2px 20px;
  border: 1px solid var(--color-text);
  border-radius: 99px;
  font-size: 0.9rem;
  gap: 5px;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-self: start;
}

@media (width >= 700px) {
  .card-container {
    max-width: 700px;
    margin: 0 auto;
    justify-content: space-evenly;
  }

  .project-card {
    height: 100%;
    width: 100%;
  }

  .button {
    font-size: 1rem;
    padding: 10px 20px;
  }

  .tag {
    font-size: 1.1rem;
  }

  .project-text-section {
    font-size: 1.2rem;
  }
}
