.project-section {
  padding: 20px;

  .card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    max-width: 500px;

    .project-card {
      background-color: var(--color-card);
      border-radius: var(--border-radius);
      border: 1px solid transparent;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      max-width: 500px;
      padding: 30px 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: "Funnel Display", Arial, Helvetica, sans-serif;
      gap: 15px;
      transition: border 300ms ease;

      &:hover {
        border: 1px solid var(--primary-color);

        .project-card-media img {
          transform: scale(1.05);
        }
      }

      h2 {
        margin: 0;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 300ms ease;
      }

      .project-text-section {
        text-align: center;
        font-size: var(--text-size-medium);

        p {
          text-align: left;
          color: var(--color-text);
        }
      }

      .project-card-media {
        width: 300px;
        height: 200px;
        border-radius: var(--border-radius);
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 400ms ease;
          transform: scale(1);
          display: block;
        }
      }

      .bottom-section {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-self: start;

        .button {
          border: 1px solid var(--color-text);
          background-color: var(--color-blur);
          color: var(--color-text);
          padding: 10px 10px;
          border-radius: var(--border-radius);
          cursor: pointer;
          font-size: var(--text-size-small);
          align-items: center;
          display: flex;
          gap: 5px;
          font-weight: bold;
          text-decoration: none;
          transition: border-color 300ms ease;

          &:hover {
            border-color: var(--primary-color);

            .arrow-forward {
              transform: translateX(0.25rem);
            }
          }

          .arrow-forward {
            transition: transform 300ms ease;
          }
        }

        .tag-section {
          display: flex;
          gap: 10px;

          .tag {
            background-color: var(--color-blur);
            color: var(--color-text);
            padding: 2px 20px;
            border: 1px solid var(--color-text);
            border-radius: 99px;
            font-size: var(--icon-size-small);
            gap: 5px;
          }
        }
      }
    }
  }
}

@media (width >=700px) {
  .project-section {

    .card-container {
      max-width: 700px;
      margin: 0 auto;
      justify-content: space-evenly;

      .project-card {
        height: 100%;
        width: 100%;

        .project-text-section {
          font-size: var(--text-size-medium-small);
        }

        .bottom-section {
          .button {
            padding: 10px 20px;
          }
        }
      }
    }
  }
}