.project-content {
  margin: 0 auto;
  padding: 20px;
  max-width: 700px;

  .project-back {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;

    .project-back-link {
      text-decoration: none;
      color: var(--color-text);
      font-weight: bold;
      font-family: "Funnel Display", sans-serif;
      display: flex;
      align-items: center;
      gap: 5px;
      transition: color 150ms ease;

      .back-arrow {
        transition: transform 150ms ease;
      }

      &:hover {
        color: var(--accent-color);

        .back-arrow {
          transform: translateX(-0.25rem);
        }
      }
    }
  }
}