.skill-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.skill-container {
  max-width: 100%;
  margin: 16px auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.skill-card {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background: var(--color-blur);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  opacity: 0;
  transform: translateY(24px);
  transition: transform 0.3s ease;
  overflow: hidden;
}

.skill-card.show {
  opacity: 1;
  transform: translateY(0);
}

.skill-card .face {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-card .face.face1 {
  display: none;
  box-sizing: border-box;
  padding: 16px;
  z-index: 1;
}

.skill-card .face.face1 .content {
  font-size: 1rem;
  margin: 0;
  padding: 0 0 1rem 0;
  font-family: "Funnel Display";
  color: var(--color-text);
}

.skill-card .face.face2 {
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: none;
  transition: 0.5s;
  color: var(--color-blur);
  z-index: 2;
}

.skill-card .face.face2::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--color-card);
  border-radius: 12px;
  z-index: 0;
}

.skill-card .face.face2 h2 {
  margin: 0;
  padding: 0;
  transition: 0.5s;
  position: relative;
  z-index: 1;
}

.icon-skill {
  font-size: 64px;
  color: var(--secondary-color);
  backdrop-filter: blur(30px);
  border-radius: 6px;
  transition: all 0.6s ease-out;
}

@media (width >= 700px) {
  .skill-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0;
    gap: 3.5rem;
  }

  .skill-card {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.145);
    transform: translateY(40px);
  }

  .skill-card .face.face1 {
    display: flex;
    padding: 20px;
  }

  .skill-card .face.face2::before {
    border-radius: 15px;
  }

  .icon-skill {
    font-size: 80px;
  }
}

@media (width >= 1000px) {
  .icon-skill {
    font-size: 120px;
  }
}

@media (hover: hover) and (pointer: fine) and (width >= 700px) {
  .skill-card:hover .face.face2 {
    height: 60px;
  }

  .skill-card:hover .icon-skill {
    font-size: clamp(30px, 10vw, 50px);
  }
}

@media (hover: none) {
  .skill-card:hover .face.face2 {
    height: 100%;
  }

  .skill-card:hover .icon-skill {
    font-size: 64px;
  }
}