header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  z-index: 1000;
  transition: top 0.15s ease-in-out;
  backdrop-filter: blur(5px);
}

.name-header {
  font-family: "Bagel Fat One";
  font-size: xx-large;
  text-decoration: none;
  color: var(--color-text);
  transition: transform 1s ease;
}

.material-symbols-outlined {
  border: none;
  box-shadow: none;
  cursor: pointer;
  background-color: transparent;
  transition: transform 0.3s ease;
}

.material-symbols-outlined:hover {
  transform: scale(1.2);
}

.ash-pic {
  height: 100%;
  position: relative;
  z-index: 10;
}

.image-container {
  position: relative;
  height: 60%;
}

.handToggle {
  cursor: pointer;
  display: inline-block;
}

.handToggle.animate {
  animation: wave 1s ease-in-out;
  transform: scale(1.2);
}

@keyframes wave {
  0% {
    transform: scale(1.2) rotate(0deg);
  }
  25% {
    transform: scale(1.2) rotate(20deg);
  }
  50% {
    transform: scale(1.2) rotate(-20deg);
  }
  75% {
    transform: scale(1.2) rotate(20deg);
  }
  100% {
    transform: scale(1.2) rotate(0deg);
  }
}

.image-border {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  border: 3px solid black;
  border-radius: 10px;
  z-index: 9;
  padding: 0 20px;
}

.image-box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -28px;
  width: 100%;
  height: 25%;
  z-index: 11;
  padding: 0 20px;
  background-color: rgb(0, 0, 0);
  border-radius: 0 0 5px 5px;
}

.paragraph {
  font-family: "Bagel Fat One";
  font-size: 25px;
  left: 50%;
  text-align: center;
  margin-top: 5px;
  color: var(--primary-color);
}

.icon-list {
  list-style: none;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  top: 25px;
  padding: 0 20px;
}

.icon {
  color: var(--primary-color);
  font-size: 45px;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.2);
}

.start-text-box1 {
  font-family: "Bagel Fat One";
  font-size: 30px;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.start-text-box1 h1 {
  align-items: center;
  gap: 0.5rem;
  margin: auto;
  display: flex;
}

.textContent {
  width: 100%;
  max-width: 400px;
}

.location {
  color: var(--color-muted);
  font-family: "Funnel Display", sans-serif;
  font-size: medium;
  width: 100%;
  max-width: 400px;
  text-align: left;
  margin-top: 0.5rem;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.location::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0%;
  background-color: currentColor;
}

.location.grow::after {
  animation: underline-grow 1s ease-in-out forwards;
}

.location.shrink::after {
  animation: underline-shrink 1s ease-in-out forwards;
}

@keyframes underline-grow {
  from {
    width: 0%;
  }
  to {
    width: 55%;
  }
}

@keyframes underline-shrink {
  from {
    width: 55%;
  }
  to {
    width: 0%;
  }
}

.start-text-box2 {
  font-family: "Funnel Display", sans-serif;
  font-size: larger;
  border-radius: 6px;
  padding: 1rem;
  backdrop-filter: blur(100px);
  background-color: var(--color-blur);
}

.start-text-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding-inline: 2rem;
}

.start-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-top: 3rem;
}

@media (width > 1000px) {
  .start-page-container {
    flex-direction: row-reverse;
    width: 70%;
    padding-top: 0rem;
    margin: auto;
  }
  .start-text-box1 {
    font-size: 3rem;
    font-weight: lighter;
  }
  .start-text-box2 {
    font-size: 35px;
  }
  .image-container {
    height: 70%;
  }
  .name-header {
    font-size: 40px;
  }
  #toggleMode {
    font-size: 50px;
  }
  .icon {
    font-size: 80px;
  }
  h1 {
    font-size: 3rem;
  }
  .image-box {
    height: 20%;
  }
  .location {
    font-size: 22px;
  }
}

/* @media (width >= 700px) {
  .start-page-container {
    flex-direction: row-reverse;
    width: 70%;
    padding-top: 0rem;
    margin: auto;
  }
  .start-text-box1 {
    font-size: 2rem;
    font-weight: lighter;
  }
  .start-text-box2 {
    font-size: 20px;
  }
  .image-container {
    height: 70%;
  }
  .name-header {
    font-size: 40px;
  }
  #toggleMode {
    font-size: 50px;
  }
  .icon {
    font-size: 50px;
  }
  h1 {
    font-size: 2.5rem;
  }
  .image-box {
    height: 20%;
  }
  .location {
    font-size: 15px;
  }
} */
