.tech-stack-body {
    display: flex;
    flex-direction: column;


    .tech-stack-title {
        align-items: center;
        display: flex;
        gap: 10px;
        align-self: center;
    }

    .tech-stack {
        display: flex;
        list-style: none;
        gap: 10px;
        width: 100%;
        padding: 0;

        .tech-item {
            border-radius: var(--border-radius);
            padding: 10px 15px;
            background-color: var(--color-blur);
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .tech-icon {
                color: var(--accent-color);
                font-size: var(--icon-size-medium);
            }
        }
    }
}