@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Funnel+Display:wght@300;400;500&display=swap");
@import url(https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Pixelify+Sans&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap");

:root {
  --text-size-small: 0.8rem;
  --text-size-medium-small: 0.9rem;
  --text-size-medium: 1.1rem;
  --text-size-large: 2rem;
  --text-size-larger: 2.1rem;
  --icon-size-larger: 3rem;
  --icon-size-large: 2.5rem;
  --icon-size-medium: 1.5rem;
  --icon-size-small: 1rem;
  --border-radius: 15px;
}

html {
  scroll-behavior: smooth;
}

body.light {
  --color-background: rgba(250, 235, 215, 1);
  --color-text: black;
  --gradient-color-1: rgb(233, 139, 192);
  --gradient-color-2: rgb(233, 139, 192);
  --gradient-color-3: #b0cf97;
  --primary-color: rgb(223, 135, 196);
  --secondary-color: #d4689e;
  --accent-color: #7a0b43;
  --color-muted: black;
  --color-blur: rgba(219, 29, 175, 0.048);
  --color-card: rgba(213, 203, 181);
}

body.dark {
  --color-background: #2f2d2e;
  --color-text: rgb(228, 212, 212);
  --gradient-color-1: #0d324d;
  --gradient-color-2: #0d324d;
  --gradient-color-3: #792359;
  --primary-color: #d34ea2;
  --secondary-color: #cd4b97;
  --accent-color: #e673ac;
  --color-muted: rgb(155, 150, 150);
  --color-blur: #b9bec114;
  --color-card: #614054;
}

body {
  margin: 0;
  transition:
    background-color 1s ease,
    color 1s ease;
  padding-top: 80px;
  background:
    radial-gradient(circle at -10% 0%,
      var(--gradient-color-1),
      transparent 50%),
    radial-gradient(circle at 130% 50%,
      var(--gradient-color-2),
      transparent 60%),
    radial-gradient(circle at -100% 100%,
      var(--gradient-color-3),
      transparent 100%);
  background-color: var(--color-background);
  color: var(--color-text);
}

h1 {
  text-align: center;
  font-family: "Sour Gummy", sans-serif;
  font-weight: bold;
  padding-top: 70px;
  font-size: var(--text-size-larger);
}



footer {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  margin-top: 20px;
  font-size: 14px;
  color: var(--color-muted);
}

@media (width >=1000px) {
  body {
    --text-size-small: 1rem;
    --text-size-medium-small: 1.2rem;
    --text-size-medium: 1.5rem;
    --text-size-large: 2rem;
    --text-size-larger: 2.9rem;
    --icon-size-larger: 6rem;
    --icon-size-large: 2.5rem;
    --icon-size-medium: 3.5rem;
    --icon-size-small: 1.2rem;
  }
}

@media(width > 1500px) {
  body {
    --icon-size-medium: 4rem;
  }
}

@media(width > 1700px) {
  body {
    --icon-size-medium: 5rem;
  }
}

@media(height >=751px) {
  body {
    --icon-size-medium: 4rem;
  }
}

@media (max-height : 750px),
(max-width: 750px) {
  body {
    --icon-size-medium: 3rem;
  }
}

@media (max-height : 650px) {
  body {
    --icon-size-medium: 2.9rem;
    --text-size-medium: 1.45rem;
  }
}

@media (max-height: 550px) {
  body {
    --icon-size-medium: 2.5rem;
    --text-size-medium: 1.25rem;
  }
}

@media (max-height: 400px) {
  body {
    --icon-size-medium: 2rem;
    --text-size-medium: 1.2rem;
  }
}